[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
lxml = "*"
nltk = "*"
matplotlib = "*"
seaborn = "*"
cssselect = "*"
jupyter-progressbar = "*"
sqlalchemy = "*"
ipython-sql = "*"

[dev-packages]
pytest = "*"
pylint = "*"

[requires]
python_version = "3.6"
